{
	"importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"trailingComma": "all"
}
